@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#defaultLayout main {
    margin-top: 60px; /* Altura suficiente para a barra de navegação */
    padding-bottom: 60px; /* Altura suficiente para a barra de navegação */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 3rem;

}

body{
    font-family: Poppins;
}

input::placeholder {
    color: #6c757d; /* Light grey (Bootstrap's text-muted color) */
    font-weight: 300; /* Light font weight */
    font-size: 0.8rem;

}

input {
    color: #000; /* Black color */
    font-weight: 400; /* Regular font weight */

}

.font-size-body-2 {
    font-size: 12px;
}

.font-link {
    color: #1C7A00;
    text-decoration: underline;
}

.font-link:hover {
    color: #92D400;
    text-decoration: underline;
}

.txt-black {
    color: black;
}

.txt-grey-100 {
    color: #fafafa;
}

.txt-grey-300 {
    color: #f0f0f0;
}

.txt-grey-500 {
    color: #c2c2c2;
}

.txt-grey-700 {
    color: #818181;
}

.txt-grey-900 {
    color: #3c3c3c;
}

.background-grey-100 {
    background-color: #fafafa;
}

.background-grey-300 {
    background-color: #f0f0f0;
}

.background-grey-500 {
    background-color: #c2c2c2;
}

.background-grey-700 {
    background-color: #818181;
}

.background-grey-900 {
    background-color: #3c3c3c;
}

.background-green-50 {
    background-color: #F3FAE6;
}

.background-green-500 {
    background-color: #92D400;
}

.txt-green-900 {
    color:#1C7A00;
}

.txt-blue-900 {
    color: #0000C8;
}

.btn-sara-primary {
    color: white;
    background-color: #1C7A00;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.btn-sara-primary:hover {
    color: white !important;
}

.btn-sara-secondary {
    color: #1C7A00;
    background-color: white;
    text-transform: uppercase;
    font-weight: 600;
    border: 1rem solid #1C7A00;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.login-container {
    display: flex;
    height: 100vh;
}

.login-image-container {
    display: none;
}

.logo-container {
    text-align: center;
    margin-bottom: 2rem;
}

.logo {
    width: 6rem;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
}

.login-form {
    width: 100%;
    max-width: 400px;
}

.form-group {
    margin-top: 2rem;
}

.form-label {
    font-weight: bold;
    color: #333;
}

.forgot-password, .register-link {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.password-toggle-icon {
    right: 1rem;
}

/* Desktop styles */
@media (min-width: 768px) {
    .login-container {
        flex-direction: row;
    }

    .login-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .login-background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .login-form-container {
        width: 50%;
        padding: 4rem;
    }

    .truncate-text {
        max-width: 35ch;
    }
}

.mobile-title {
    color: black;
    font-size: 1.8rem;
    font-weight: 900;
}

.mobile-subtitle {
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-sara-terciary {
    background-color: #f0f0f0;
    color: #3c3c3c;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: 600;
}

.btn-sara-terciary-selected {
    background-color: #3c3c3c;
    color: #f0f0f0;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: 600;
}




