.steps-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.step {
    text-align: center;
    flex: 1;
    position: relative;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: grey;
    margin: 0 auto;
}

.step.active .circle {
    background-color: black;
}

.step.completed .circle {
    background-color: green; /* Color for completed steps */
}

.label {
    margin-top: 5px;
    font-size: 12px;
    color: grey;
}

.step.active .label {
    color: black;
}

.step.completed .label {
    color: green; /* Color for completed steps */
}

/* Ensure equal distribution of steps */
.step {
    flex: 1;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #c2c2c2;
    margin-bottom: 5px;
}

.step.active .circle {
    background-color: black;
}

.step.completed .circle {
    background-color: #92D400;
}

.label {
    font-size: 0.5rem;
    color: #c2c2c2;
}

.step.active .label {
    color: black;
}

.step.completed .label {
    color: #92D400;
}

/* Optional: Adding lines between the steps */
.step:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 10px;
    right: -50%;
    width: 100%;
    height: 2px;
    background-color: grey;
    z-index: -1;
}

.step.active:not(:last-child)::after {
    background-color: black;
}

.step.completed:not(:last-child)::after {
    background-color: #92D400;
}

/* Step3.css */

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
    background-color: #68AF00 !important;
    color: white !important;
    border-radius: 0.3rem;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range{
    background-color: #68AF00 !important;
    color: white !important;
    border-radius: 0.3rem;
}

.react-datepicker__header {
    text-align: center;
    background-color: white;
    border-bottom: none;
    border-top-left-radius: 0.3rem;
    padding: 8px 0;
    position: relative;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    color:#68AF00 !important;
}

.react-datepicker__navigation--next {
    color:#68AF00 !important;
}

.react-datepicker {
    font-family: Poppins;
    border:none;
}



.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
    top: 8px;
}

.date-picker-container {
    display: flex;
    justify-content: center;
    margin: 20px auto; /* Adjust margin as needed */
    width: 100%;
    max-width: 400px; /* Adjust max-width as needed */
}

.react-datepicker-weekend {
    color: red !important;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure this is above your other content */
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    text-align: center;
    z-index: 1100; /* Ensure this is above the overlay */
}

.modal button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #68AF00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #5e9c00;
}

.text-red-500 {
    color: #e53e3e;
}


